.titlu-categorie {
    font-size: 1rem;
    border-bottom: 2px solid var(--second-color);
    /*width: 20%;*/
    min-width: 288px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: var(--main-color);
    margin-top: 1rem;
}

.titlu-categorie.titlu-categorie-contract {
    border-bottom: unset;
    padding: 0;
    margin: 0;
}

.subtitlu {
    font-size: 0.8rem;
    border: none;
    margin-bottom: 0px;
    font-weight: 600;
    /* margin-bottom: 0.5rem; */
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #188a15;
}

.nav-pills .nav-link, .nav-pills .show > .nav-link {
    color: var(--bs-secondary);
    background-color: #eeeeee;
}

.data-contract {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#coduri_client_contract, #judet_id_change, #uatSolicitant, #inv_types_id, .form-control.neEdit.campObl.integer.new-input, #dataEliberare {
    /*     background-color: white; */
}

div#idSelectCodClient_contract_pf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container-buton-email {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.buton-email {
    height: 37px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.div-btns {
    display: flex;
    justify-content: center;
    margin: 40px 0 10px 0;
    gap: 5px;
}

/*
form#addContractForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}*/

input[type=date] {
    cursor: pointer;
}

.col-auto.titlu-categorie.subtitlu + .col {
    border-radius: 10px;
}

.location-point.inactive .col-auto.titlu-categorie.subtitlu + .col {
    border-left: 3px solid var(--f-location-inactive);
    background: var(--f-location-inactive-fade);
}

.location-point.inactive .col-auto.titlu-categorie.subtitlu {
    color: var(--f-location-inactive);
}

.location-point.inactive .col-auto.titlu-categorie.subtitlu + .col .input-box *:not(.active-box):not(.active-box *) {

    color: #bcbcbc;
    background: var(--f-location-inactive-fade);
}

.inactive .input-box.disabled .active-box {
    background: var(--f-location-inactive-fade);
}


.active-da:checked + label {
    font-weight: bold;
}

#active_nu_:checked + label {
    color: var(--f-color-active);
    font-weight: bold;
}

.location-point {
    margin-block: 10px;
    padding-bottom: 10px;
}

.bin.row {
    position: relative;
    /* border-bottom: 1px solid green; */
    margin-bottom: 1rem;
}

.btn-tomberon {
    width: 25px;
    height: 25px;
    padding: unset !important;
    font-size: 19px;
    line-height: 25px;
    border-color: var(--f-color-active);
    color: white;
    margin-left: 10px;
}

.location-point {
    position: relative;
    counter-increment: lpsize;
    padding: 10px;
}

.location-point > div > .titlu-categorie.subtitlu:before {
    content: counter(lpsize) ".";
}

.swal2-confirm.btn-primary.swal2-styled {
    background: var(--primary-button);
    border-radius: 3px;
    padding: 5px 15px;
    border: none;
    transition: all .1s;
}

.swal2-confirm.btn-primary.swal2-styled:hover {
    background: #e6e5de;
    border: none;
    color: green;
}

.swal2-cancel.btn-secondary.swal2-styled {
    background: #bbbbbb;
    border-radius: 3px;
    padding: 5px 15px;
    border: none;
    transition: all .1s;
}

.swal2-cancel.btn-secondary.swal2-styled:hover {
    color: var(--bs-btn-hover-color);
    background-color: #999898;
}

.btn-stergere {
    position: unset;
    background: #eeeeee;
    transition: all .3s;
    width: 100%;
    margin-top: 14px;
    height: 37px;
    background: linear-gradient(90deg, #dc3545 50%, #eee 50%) right;
    background-size: 200% 100%;
}


.btn-stergere:hover:enabled {
    /* background: #dc3545; */
    color: white;
    cursor: pointer;
    background-position: left;
}

.delete-bin-text {
    display: block;
}

@media (max-width: 600px) {
    .btn-stergere {
        height: 100%;
        margin: 15px 11px 0 0;
    }
}

.campObl::placeholder,
#addContractForm #email::placeholder {
    color: #dc3545;
}

.legenda-obl {
    padding: 10px 15px;
    font-size: 11px;
    color: #bcbbbb;
}

.ctr_type {
    font-size: 17px;
    /* background: none; */
    /* box-shadow: 0 0 1px #000; */
    /* border: 1px solid #ddd; */
    /*clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);*/
    /*width: 250px;*/
    padding: 6px;
    border-radius: 3px;
}


/*.ctr_type.selected {*/
/*  !* border: 1px solid var(--primary-button); *!*/
/*  !* box-shadow: 0 0 3px var(--primary-button); *!*/

/*  color: var(--primary-button);*/
/*  background: none;*/
/*  border-radius: 4px;*/

/*}*/

/*.ctr_type.selected:after {*/
/*  transition: all ease-in-out .2s;*/
/*  background: repeat scroll 0 0 var(--primary-button);*/
/*  content: "";*/
/*  display: block;*/
/*  height: 2px;*/
/*  width: 100% -webkit-fill-available;*/
/*}*/

/*.ctr_type.unselected {*/
/*  background: none;*/
/*  color: #ddd;*/
/*  !* border: 1px solid #ddd; *!*/
/*  box-shadow: none;*/
/*  transition: all .2s;*/
/*}*/

/*!*button.ctr_type.unselected:hover {*/
/*    border: 1px solid var(--primary-button);*/
/*    box-shadow: 0 0 1px var(--primary-button);*/
/*    color: var(--primary-button);*/
/*} *!*/


/*.ctr_type.unselected:after {*/
/*  transition: all ease-in-out .2s;*/
/*  background: repeat scroll 0 0 var(--primary-button);*/
/*  content: "";*/
/*  display: block;*/
/*  height: 2px;*/
/*  width: 0;*/
/*}*/

/*.ctr_type.unselected:hover {*/
/*  color: var(--primary-button);*/
/*  !* border: 1px solid var(--primary-button) *!*/
/*  !* box-shadow: 0 0 3px var(--primary-button) *!*/
/*}*/

/*.ctr_type.unselected:hover:after {*/
/*  width: 100%;*/
/*  color: var(--primary-button) !important;*/
/*}*/

/*button.ctr_type.selected {*/
/*  transform: scale(1.1);*/
/*  transition: all .3s;*/
/*  background: #e2e0e0;*/
/*  color: var(--primary-button);*/
/*}*/

/*button.ctr_type.unselected {*/
/*  transition: all .3s;*/
/*  background: linear-gradient(90deg, #e2e0e0 50%, var(--primary-button) 50%) right;*/
/*  color: white;*/
/*  background-size: 200% 100%;*/
/*}*/

/*button.ctr_type.unselected:hover {*/
/*  background-position: left;*/
/*  color: var(--primary-button);*/
/*  transform: scale(1.1);*/
/*}*/

.ctr-type-input input:not(:checked):hover {
    cursor: pointer;
}

select:hover {
    cursor: pointer;
}

.delete-location {
    background: linear-gradient(90deg, var(--bs-btn-hover-bg) 50%, transparent 50%) right;
    background-size: 200% 100%;
    transition: all .2s;
    width: 80px;
}

.delete-location:hover {
    background-position: left;
    color: white;
}