@CHARSET "UTF-8";
*{
  box-sizing:border-box;
}
body.mobile{
    background: url(../images/first_page/back.png);
    overflow:auto;
    background-position-y: 30px;
    min-height: 100vh;
    background-position-x: center;
    background-size: cover;
    background-position-y: 100px;
}



.visible-phone {
    display: none !important;
}
.header {
    /* position: relative !important; */
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background: #fff;
    box-shadow: 1px 15px 61px 60px #ffffff;
}

fieldset {
    margin: 0 15px 1.5rem 0;
}

.modal-fida{
    border-radius: 0px;
    box-shadow: 5px 5px 8px 0px #242424;
    background: var(--f-modal-gradient);
    border: none;
}

.modal-fida .item{
    text-align: left;
}

.modal-fida-350{
    width: 100%;
    max-width: 350px;
    margin: auto;
    z-index: 102;
    border-radius: 0px;
    padding:15px;
    box-sizing: border-box;
    box-shadow: 5px 5px 8px 0px #242424;
    background: var(--f-modal-gradient);
    color: white;
}

/* #divParcareUser {
    position: absolute;
    background: linear-gradient(to bottom, #55515c 13%, #00295b);
    width: 95%;
    max-width: 1000px;
    height: 80%;
    top: 5%;
    z-index: 102;
    left: 50%;
    overflow: auto;
    transform: translateX(-50%);
} */
/* @media screen and (min-width:1050px) {  
    #divParcareUser {
        position: absolute;
        width: 95%;
        max-width: 1200px;
        height: 90%;
        top: 5%;
        z-index: 102;
        left: 50%;
        transform: translateX(-50%);
    }
} */

@media screen and (max-width:1050px) {
    .tab-contents{
        padding:15px;
    }
    /* .container{    
        /*height: calc(100% - 200px);
    } */
}
@media (max-width: 500px){    
    #logo:after {
        right: 8px;
    }
}

@media screen and (max-width: 576px) {
    .buton-parcari {
      width: 300px;
      height: 100px;
    }
  }


.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: 5px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
    /* background: #ffffff80; */
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 10px 39px 28px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #0079c1;/* #1abc9c; */
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid white;/* #16a085; */
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #00598D;/* #109177; */
}

#tabs3 .form-style-5 label {
    display: inline; 
}




@media (max-width: 981px) and (orientation: landscape) {  

  #ui-datepicker-div.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all, ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
    font-size: 11pt  !important;
  }
  
   #tabsParcari table#cc td img {
    width: 45px;
   }
}



table#cc.dataTable, table#factDov.dataTable {
    width: 100% !important; 
}

 table#factDov.dataTable td {
    width: unset !important;
    min-width: unset !important;
}

.ui-widget-content {
    font-size: 1rem;
}

.tab-title {
    display: inline-block;
}
.inchide{
}

.inchide>*{
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    display: inline-block;
    vertical-align: middle;
}
.swal-modal {
    overflow: auto;
    max-height: 93%;
    border-radius:0;
}
.form-style-5 .div-adresa input[type="text"]:not(:last-child) {
    margin-bottom: 0px;
}
.swal-text {
    color: #3c3c3c;
}
.swal-title {
    font-size: 24px;
}
/* .btn, .swal-button {
    border: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: 0;
    cursor: pointer;
} */
.btn-confirm, .swal-button--confirm{
    color: #082d5c;
    background-color: #ffffff;
    border: 1px solid #082d5c;
}
.btn-cancel, .swal-button--cancel {
    background-color: #082d5c;
    color: #fff;
    border: 1px solid white;
}
.precompletare[readonly] {
    background-color: #dddddd!important;
    cursor: not-allowed;
}
.btn-cancel:hover, .swal-button--cancel:hover {
    background: #ffffff;
    color: #082d5c;
    border-color: #082d5c;
}
.btn-confirm:hover, .swal-button--confirm:hover{
    background: #082d5c;
    color: white;
    border-color: white;
}

.mobile #btnHelp {
    max-width: 40px;
}
.mobile .imagini {
    padding: 10px;
    text-align: center;
}

/* andrei */


.tab-section {
    background: unset;
}

.form-style-5  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cccccc;
  opacity: 1; /* Firefox */
}

.form-style-5  :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #cccccc;
}

.form-style-5  ::-ms-input-placeholder { /* Microsoft Edge */
  color: #cccccc;
}

select option{
    color: #00295b;
}

.alert-red{
    background-color: #00000021;
    font-size: 0.9rem!important;
    color: #ffa464;
    padding: 0 3px;
    display: inline-block;
    display: none;
    /* position: absolute; */
    /* top: -1rem; */
    width: 100%;
}
.tab-title.is-active {
    border-bottom: none;
    background-color: #2f3f5c;
}
.tab-title{
    background: unset;
    color:white;
}
input:disabled, select:disabled, textarea:disabled {
    opacity: .8;
    cursor: not-allowed;
}
.div-adresa{
    display: flex;
}
.iframe_incarca_doc{
    border: none;
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 38px;
    width: calc(100% - 30px);
}
.divvdocAtas{
    display: flex;
    align-content: center;
    align-items: center;
    gap: 0;
    /* padding: 0 10px; */
}
.divvdocAtas .fa, .deIFrame .fas, .deIFrame .fa, .deIFrame .far{
    color: #ffa464;
    text-align: center;
    height: 28px;
    border-radius: 3px;
    width: 28px;
    font-size: 18px;
    padding-top: 2px;
    cursor: pointer;
}
.deIFrame .fas span {
    font-family: "Avenir Next W01","Avenir Next W00","Avenir Next","Avenir","Helvetica Neue",sans-serif;
    font-weight: normal;
}
.divvdocAtas .fa{    
    border: 3px solid #ffa464;
}
.deIFrame .fas {
    width: 100%;
    padding: 5px 5px;
    height: unset;
    border: none;
}
.fa:hover, .fas:hover, .fa:hover, .far:hover, .deIFrame a:hover i {    
    transform:scale(1.1);
}

.logo_fida {
    position: fixed;
    bottom: 0;
    left: 15px;
    line-height: 1rem;
}
.timer{
    font-weight: bold;
    color: var(--f-color-focus);
}