@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 79%);
    background: #ffffffc9;
    /*  background-image: url("../images/back/bckg.jpg"); */
    font-size: 0.8rem;
    color: #443f39;
    color: var(--main-color);
    background-size: 200%;
}

:focus {
    border-color: #757575;
    border-color: var(--second-color) !important;
    outline: none;
}

/* p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
} */
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0;
    background-color: var(--primary-color-anm);
    border: none;
    border-radius: 0;
    height: 45px;
    box-shadow: 0px 0px 3px 0px #1111118a !important;
    /*     box-shadow: 5px 2px 13px 0px rgba(17, 17, 17, 0.73);
        box-shadow: 5px 2px 13px 0px #111111ba; */
    transition: all .3s;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ddd;
    margin: 20px 0 10px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}


a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #188a15;
}

a.article, a.article:hover {
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 200px);
    /*min-height: 100vh;*/
    transition: all 0.3s;
}

#sidebar.active + #content {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
.btn-info {
    color: #fff;
    /* background-color: #0497df; */
    background-color: #0e4180;
    border-color: #17a2b8;
}

body .nav-tabs .nav-link, body .nav-tabs .nav-link.active {
    border: 1px solid var(--bs-secondary) !important;
}

a.boldElement {
    font-weight: bold;
}

.bg-light {
    /* background-color: #f8f9fa!important; */
    background-color: #fafafa !important;
}

[size="A4"] {
    width: 21cm;
    margin: auto;
    border: 1px solid #f2f2f2;
    padding: 1.5cm;
}

#delimInstal, #delimInstalatii {
    font-size: 12px;
}

#delimInstal th, #delimInstal td, #delimInstalatii th, #delimInstalatii td {
    text-align: center;
}

#delimInstal input, #delimInstalatii input {
    padding: .375rem 1px;
}

#delimInstal th:first-child, #delimInstalatii th:first-child {
    width: 5%;
}

#delimInstal th:nth-child(2), #delimInstalatii th:nth-child(2) {
    width: 23%
}

.modal-xl {
    max-width: 1000px;
}

.infos {
    position: absolute;
    top: 0px;
    right: 10px;
    padding: .5rem 0 .5rem 1rem;
}

.infos .b {
    font-weight: 700;
}

.infos .green {
    color: #188a15;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: unset;
}


.ui-datepicker-days-cell-over.ui-datepicker-today, .ui-datepicker-today > .ui-state-default.ui-state-highlight {

    color: var(--primary-color-anm) !important;
    font-weight: bolder;
    background: #e7e7e7;
}

button.ui-datepicker-current {
    display: none;
}

button.ui-datepicker-close:hover {
    background-color: #188a15;
    color: white;
}

div.ui-state-active, div.ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid var(--primary-color-anm) !important;
    background: var(--primary-color-anm) !important;
}

.ui-datepicker .ui-state-default {
    border: 1px solid white;
    border-radius: 4px;
    text-align: center;
}


#validation-box {
    background-color: rgb(245 245 245 / 90%);
    position: relative;
    /* padding: 10px; */
    /* margin-top: 4px; */
    text-shadow: 0 0 var(--primary-button);
    text-align: left;
}

.modal-title1 {
    color: #202020;
    margin: 6px 0;
    margin-left: 8px;
    font-size: 14pt;
    font-weight: 400;
    width: 95%;
}


#conditions {
    font-size: 15px;
    margin: 20px;
}

#validation-box div {
    font-size: 14px;

}

.valid {
    /* color: fieldtext; */
}

/* .valid::before{
    position: relative;
    left: -8px;
    top: 3px;
    content: url('../css/images/true5.png');
} */

.invalid {
    /* color: #d51717; */
}

/* .invalid::before{
    position: relative;
    left: -8px;
    top: 3px;
    content: url('../css/images/false.png');
}
 */

.fa-check {
    color: #66bf00;

}

.fa-times {
    color: #d51717;
}

.fa-times.valid {
    color: #188a15;
}

#validation-box > div {
    margin-bottom: 7px;
    font-size: 0.8rem;
    text-indent: unset;
    -webkit-mask-image: black;
    overflow: initial;
    -webkit-text-stroke: thin;
    margin-left: 7px;
}

#validation-box > div > i {
    width: 16px;
    text-align: center;
    margin-right: 10px;
}


.header-text-dash-counter {
    font-weight: bold;
    color: #1e8723;
}

.header-text-dash {
    color: #1e8723;
}

.disabledEdit {
    pointer-events: none;
    opacity: 0.6;
}

.toast {
    bottom: 15px;
    right: 30px;
    z-index: 10;
    width: 415px;
    /* border: none; */
    /*background: #dfdfdf;*/
    font-size: 16px;
    box-shadow: 0 .15rem 1rem rgba(var(--bs-body-color-rgb), .15);
    border: 1px solid #cdcdcd;
}

.toast .toast-header {
    border-bottom: 1px solid #ddd;
}

.success-toast {
    background-color: #cce0cc;
}

.error-toast {
    background-color: #fadcdf;
}

.warning-toast {
    background-color: #fbdccc;
    /* background: white; */
}

.success-toast .toast-header {
    background-color: #406242;
    color: white;
}

.error-toast .toast-header {
    background-color: #cd525e;
    color: white;
}

.warning-toast .toast-header {
    background-color: #f1b190;
    color: white;
}

.notification-pass {
    color: #ff9966;
    display: none;
}