:root, [data-bs-theme=light] {
  --bs-gray-450: #838383;
  --bs-primary: #082d5c;
  --bs-primary: var(--f-primary);
  --bs-secondary: var(--f-secondary);
  --bs-active: #dadce0;
  --bs-primary-text: var(--f-secondary);
  --bs-primary-input-text: var(--f-secondary);
  --bs-secondary-text: #082d5c;
  --bs-border-color: #626e84;
  --bs-border-radius: 0;
  --bs-body-color: var(--f-secondary);
  --bs-form-control-disabled-bg: var(--f-input-disabled);

  --bs-link-color: #082d5c;
  --bs-link-color-rgb: var(--f-link-rgb);
  --bs-link-hover-color: #082d5c;
  --bs-link-hover-color-rgb: 178, 124, 93;
  --bs-emphasis-color: var(--f-secondary);
  --autentif-button: #378960;
  --autentif-button-hover: #1c5330;
  --close-button-slanic: #6c757d;
  --close-button-hover: #5a6268;
  --button-isaccea: #01908a;
  --button-isacccea-hover: #02736e;
  --button-slanic: #3a8057;
  --button-slanic-hover: #2b6041;

  --primary-color-anm:  /*#0060C6*/ #3366ff;
  --secondary-color-anm: /*#002956*/ #0b7f11;

  /* fida */
  --f-color-10: #5185aa;
  --f-color-20: #4e748f;
  --f-color-30: #4b5b67;
  --f-color-40: #63654a;
  --f-color-50: #9b9230;
  --f-color-60: #cdbb18;

  --f-card-header-slanic: #08b8e1;
  --f-card-header-isaccea: #00a9a1;

  --f-primary: #FDFDFD;
  --f-primary-inactive: var(--f-secondary);
  --f-secondary: #363A3D;
  --f-link: #4b5b67;
  --f-link-rgb: 75, 91, 103;
  --f-input-disabled: #9c9c9c;
  --f-location-inactive: #e3e3e3;
  --f-location-inactive-fade: #fafafa;

  --f-color-focus: #9b9230;

  --f-color-active: #65a95e;
  --f-light: #eaeaea;
  --f-light-blue: #88d4ff;
  --f-blue: #5EA1D5;
  --f-dark: #5D6E7A;
  --f-border-color: #cfcfcf;

  --f-modal-gradient: radial-gradient(
      ellipse at top left,
      var(--f-modal-gradient-start) 13%,
      var(--f-modal-gradient-end));
  --f-modal-gradient-start: var(--f-primary);
  --f-modal-gradient-end: var(--f-light);

  --main-color: #443f39;
  --second-color: #757575;
  --primary-button: #0176a0;
  --primary-button-hover: #80c287;
  --sidebar: #9d9d9d;
  --background-primary-btn: #0e7903;
  --background-primary-btn-disabled: #0e7903fa;

}

.btn {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-border-radius: 0;
  --bs-btn-font-size: 0.8rem;
}

.btn:disabled {
  --bs-btn-disabled-bg: var(--background-primary-btn-disabled);
  --bs-btn-disabled-border-color: var(--background-primary-btn-disabled);
  --bs-btn-disabled-color: #fff;
}

.btn-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-bg: var(--primary-button);
  --bs-btn-border-color: var(--primary-button);
  --bs-btn-hover-color: var(--bs-secondary);
  --bs-btn-hover-bg: var(--primary-button-hover);
  --bs-btn-hover-border-color: var(--primary-button-hover);
  --bs-btn-active-color: var(--bs-secondary);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-secondary);
  --bs-btn-disabled-bg: var(--background-primary-btn-disabled);
  -bs-btn-disabled-border-color: var(--background-primary-btn-disabled);
}

.btn-stergere:disabled {
  background: #ffffffc9;
}

.btn-stergere:hover:disabled {
  background: #ffffffc9;
  color: #cbcaca;
}

.btn-secondary {
  --bs-btn-color: var(--bs-secondary);
  --bs-btn-bg: var(--primary-button-hover);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-secondary);
  --bs-btn-hover-border-color: var(--bs-secondary);
  --bs-btn-active-color: var(--bs-primary);
  --bs-btn-active-bg: var(--bs-secondary);
  --bs-btn-active-border-color: var(--bs-primary);
}

.btn-outline-danger:disabled {
  --bs-btn-disabled-color: #dc3545cc;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #dc3545cc;
}

.btn-close {
  --bs-btn-hover-bg: rgba(255, 255, 255, 0.65);
}

.modal {
  --bs-modal-color: var(--bs-secondary);
  --bs-modal-footer-border-width: 0;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.2;
}

.nav-tabs {
  --bs-nav-tabs-link-active-color: var(--bs-secondary);
  --bs-nav-tabs-link-active-bg: var(--f-modal-gradient-start);
  --bs-nav-tabs-link-active-border-color: var(--f-modal-gradient-start);
  --bs-nav-tabs-link-border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) var(--bs-border-color);
  --bs-nav-tabs-link-hover-border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) var(--bs-border-color);
}

.nav {
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
}

.list-group {
  --bs-list-group-item-padding-x: 0.5rem;
  --bs-list-group-item-padding-y: 0.25rem;
  --bs-list-group-color: var(--bs-body-color);
  --bs-list-group-bg: var(--bs-body-bg);
}