#sidebar {
  background-image: linear-gradient(to top, #558e7c 54%, #1b85f330 106%);
}

.container-image-login-xl {
  background: url("../images/user/recycle.jpg") 0% 90%;
}

#sidebar .sidebar-header {
  padding: 35px 0;
  /* background-color: #020403; */
}

.fp-card-header, .fp-card-footer {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  color: var(--f-card-header-isaccea);
}

.home-numbers-container {
  color: var(--f-card-header-isaccea);
}

.page-title {
  color: var(--f-card-header-isaccea);
}

.form-check-input:checked {
  background-color: var(--f-card-header-isaccea);
}

.btn-primary {
  background-color: var(--f-card-header-isaccea);
}

.btn-primary:hover {
  color: var(--f-card-header-isaccea) !important;
  background-color: #e2e0e0 !important;
}

.btn-primary:disabled {
  background-color: #347774;
}

#sidebarCollapse:hover {
  color: var(--f-card-header-isaccea);
}

.navbar-right li > *:hover {
  color: var(--f-card-header-isaccea);
}

table.dataTable.no-footer {
  border-bottom: 1px solid var(--f-card-header-isaccea);
}

.input-box:focus-within .input-label {
  color: var(--f-card-header-isaccea) !important;
}

.dropdown-item:hover {
  color: var(--f-card-header-isaccea);
}

@keyframes f_fadeG {
  0% {
    background-color: rgb(0, 0, 0);
  }

  100% {
    background-color: var(--f-card-header-isaccea);
  }
}

@-o-keyframes f_fadeG {
  0% {
    background-color: rgb(0, 0, 0);
  }

  100% {
    background-color: var(--f-card-header-isaccea);
  }
}

@-ms-keyframes f_fadeG {
  0% {
    background-color: rgb(0, 0, 0);
  }

  100% {
    background-color: var(--f-card-header-isaccea);
  }
}

@-webkit-keyframes f_fadeG {
  0% {
    background-color: rgb(0, 0, 0);
  }

  100% {
    background-color: var(--f-card-header-isaccea);
  }
}

@-moz-keyframes f_fadeG {
  0% {
    background-color: rgb(0, 0, 0);
  }

  100% {
    background-color: var(--f-card-header-isaccea);
  }
}

.input-box.focus .input-label {
  color: var(--f-card-header-isaccea);
}

.btn-tomberon {
  background-color: var(--f-card-header-isaccea);
}

.col-auto.titlu-categorie.subtitlu + .col {
  border-left: 3px solid var(--f-card-header-isaccea);
}

.col-auto.titlu-categorie.subtitlu {
  color: var(--f-card-header-isaccea);
}

.active-da:checked + label {
  color: var(--f-card-header-isaccea);
}

#coverLogin {
  background-image: url(../images/login/loginPhoto.png);
  background-position: 20% 46%;
  background-size: 21%;
  background-color: #e5e6e1;
}

.btn-primary {
  border-radius: 3px;
  padding: 5px 15px;
  border: none;
  transition: all .2s;
  background: linear-gradient(90deg, #e2e0e0 50%, var(--f-card-header-isaccea) 50%) right;
  color: white;
  background-size: 200% 100%;
}

.btn-primary:hover {
  border: none;
  background-position: left;
  color: var(--f-card-header-isaccea);
}

h2.title-login {
  color: #01908a;
}

@media (max-width: 1000px) {
  #coverLogin {
    background-position: 50% 8%;
    background-size: 18%;
  }

  #formContent {
    top: 35%;
  }
}

.btn-autentif {
  background-color: var(--button-isaccea);
}

.btn-autentif:hover {
  background-color: var(--button-isacccea-hover);
}

.container-image-login-xl {
  background: url("../images/user/recycle.jpg") 0% 90%;
}